body {
  min-width: 240px;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  border-radius: 20%;
}
.toggle-box-wrapper {
  display: flex;
}
.toggle-box-wrapper img {
  padding-bottom: 4px;
}
.toggle-box-wrapper label {
  margin: 1px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  width: 70px;
  height: 60px;
  font-size: 9px;
  color: #2e2e2e;
  text-align: center;
  cursor: pointer;
}
.toggle-box-wrapper label:hover {
  background-color: #f7f7f7;
}
.toggle-box-wrapper input[type="checkbox"] {
  display: none;
}
.toggle-box-wrapper input[type="checkbox"] + label {
  opacity: 0.5;
  user-select: none;
  border: #ffffff00 1px solid;
}
.toggle-box-wrapper input[type="checkbox"]:checked + label {
  opacity: 1;
  background-color: #f7f7f7;
  border: #cfcfcf 1px solid;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.text-center {
  text-align: center;
}
details {
  padding-left: 5px;
}
details[open] .on-close {
  display: none;
}
details + .on-open {
  display: none;
}
details[open] + .on-open {
  display: block;
}
.center {
  justify-self: center;
}
h4 {
  margin-block: 0;
  font-weight: bold;
  color: #444;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.checkbox-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
ul.checkbox-wrapper li {
  display: flex;
  align-items: center;
  gap: 5px;
}
ul.number-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
ul.number-wrapper span {
  display: block;
  font-size: 0.8em;
}
ul.number-wrapper input[type="number"] {
  width: 90px;
}
